extends layout

block content
  div(class="page")
    h1 Explore
    p.
      Use the buttons to navigate through the land of Ataraxia.

    a(href="/") Back to Main Page

  div(class="poke")
    a(href="/pokemon")
      img(src="/img/pokeball.png", height="38px", width="53px")
