extends layout

block content
  div(class="page")
    h2 Explore
    img(id="image" src="/img/apple.svg")
    p(id="title").
      Enter the Forest
    p(id="desc").
      Use the buttons below to navigate through the land of Ataraxia on your search for the legendary golden apple.
    p(id="blocked").
      Oh no! The path in that direction is blocked. Try heading a different way.
    img(id="vegetable" src="/img/apple.svg")
    div(class="nav")
      include ../public/img/onetruesign.svg
    br
    br
    div(class="back")
      a(href="/") Main Page

  div(class="poke")
    a(href="/pokemon")
      img(src="/img/pokeball.png", height="38px", width="53px")
