extends layout

block content
  div(class="content")
    h1= title
    br
    br
    p Welcome to #{title}...
    br
    br
    br
    br
    p
      a(id="fp", href="/adventure") Take me on an adventure
  div(class="poke")
    a(href="/pokemon")
      img(src="/img/pokeball.png", height="38px", width="53px")