doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js')
    script(src='/js/insights.js')
    script(src='/js/poke.js')
    script(src='/js/advent.js')
    script(src='//use.edgefonts.net/niconne;ruluko;spirax.js')
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
  footer(id="footer")
    p.
      Made by Jessica Robertson, 2016.
