extends layout

block content
    div(class="page")
        h1 Berries
        p.
         Click on the berry to receive detailed information about it.
        p
            a(id="oran")
                img(src="http://cdn.bulbagarden.net/upload/8/86/Bag_Oran_Berry_Sprite.png")
            a(id="sitrus")
                img(src="http://cdn.bulbagarden.net/upload/3/39/Bag_Sitrus_Berry_Sprite.png")
            a(id="razz")
                img(src="http://cdn.bulbagarden.net/upload/3/31/Bag_Razz_Berry_Sprite.png")
            a(id="pecha")
                img(src="http://cdn.bulbagarden.net/upload/8/8f/Bag_Pecha_Berry_Sprite.png")
            a(id="aspear")
                img(src="http://cdn.bulbagarden.net/upload/1/18/Bag_Aspear_Berry_Sprite.png")
            a(id="chesto")
                img(src="http://cdn.bulbagarden.net/upload/3/3f/Bag_Chesto_Berry_Sprite.png")
            a(id="rawst")
                img(src="http://cdn.bulbagarden.net/upload/e/e5/Bag_Rawst_Berry_Sprite.png")
            a(id="leppa")
                img(src="http://cdn.bulbagarden.net/upload/c/cd/Bag_Leppa_Berry_Sprite.png")
            a(id="persim")
                img(src="http://cdn.bulbagarden.net/upload/0/0b/Bag_Persim_Berry_Sprite.png")
            a(id="pomeg")
                img(src="http://cdn.bulbagarden.net/upload/d/dd/Bag_Pomeg_Berry_Sprite.png")
            a(id="pinap")
                img(src="http://cdn.bulbagarden.net/upload/7/78/Bag_Pinap_Berry_Sprite.png")
            a(id="cheri")
                img(src="http://cdn.bulbagarden.net/upload/6/61/Bag_Cheri_Berry_Sprite.png")
        p(id="hid") Berry Information. 
        br
        a(href="/") Back to Main Page