body {
  padding: 50px;
  //font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-family: ruluko, sans-serif;
  color: #4f4114;
  background-color: #f5fec9;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-family: spirax, sans-serif;
  color: #83e444;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 14px;
  font-family: ruluko, sans-serif;
  color: #4f4114;
}

#fp {
  padding: 30px;
  border: solid;
  border-width: 5px;
  color: #fff;
  border-color: #83e444;
  background-color: #675723;
}

#fp:hover {
  background-color: #52451c;
}

footer {
  font-size: 14px;
  position: absolute;
  background-color: #fff;
  border-style: dotted;
  border-bottom-style: none;
  border-color: #000;
  border-width: 3px;
  left: 40%;
  right: 40%;
  bottom: 0;
}
