body {
  padding: 50px;
  font-size: 18px;
  font-family: ruluko, sans-serif;
  color: #4f4114;
  background-color: #f5fec9; }

h1 {
  font-size: 38px;
  font-family: spirax, sans-serif;
  color: #83e444; }

a {
  color: #00B7FF; }
