body {
  padding: 50px;
  //font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-family: ruluko, sans-serif;
  color: #4f4114;
  background-color: #4f4114;
  //background-image: url("https://www.colourbox.com/preview/3044991-dark-seamless-pattern-with-green-leaves-vector.jpg");
  //http://previews.123rf.com/images/OlgaDrozdova/OlgaDrozdova1210/olgadrozdova121000012/15629266-Bianco-e-verde-seamless-floreale-con-riccioli-e-farfalle-Archivio-Fotografico.jpg
  text-align: center;
}

h1 {
  font-size: 70px;
  font-family: spirax, sans-serif;
  color: #83e444;
}

p {
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

#fp {
  font-size: 15px;
  font-family: ruluko, sans-serif;
  color: #4f4114;
  padding: 30px;
  border: solid;
  border-width: 5px;
  color: #fff;
  border-color: #83e444;
  background-color: #675723;
}

#fp:hover {
  font-size: 16px;
  background-color: #52451c;
}

#hid {
  text-transform: capitalize;
  white-space: pre-line;
}

div.content {
  background-color: #f5fec9;
  position: absolute;
  border: solid;
  border-width: 10px;
  border-left-color: #83e444;
  border-right-color: #83e444;
  left: 20%;
  right: 20%;
}

div.page {
  font-size: 16px;
  background-color: #f5fec9;
  position: absolute;
  top: 15px;
  left: 20%;
  right: 20%;
  bottom: 0px;
}

div.poke {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

footer {
  font-size: 14px;
  position: absolute;
  box-shadow: 0px 0px 0px 2px #83e444;
  background-color: #f5fec9;
  border-style: dotted;
  border-bottom-style: none;
  border-color: #83e444;
  border-width: 2px;
  left: 40%;
  right: 40%;
  bottom: 0;
}
